<?xml version="1.0"?>
<!--
/**
* @author Amasty Team
* @copyright Copyright (c) 2022 Amasty (https://www.amasty.com)
* @package Amasty_InstagramFeedGraphql
*/
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <type name="Magento\StoreGraphQl\Model\Resolver\Store\StoreConfigDataProvider">
        <arguments>
            <argument name="extendedConfigData" xsi:type="array">
                <item name="aminstagramfeed_general_enabled" xsi:type="string">aminstagramfeed/general/enabled</item>
            </argument>
        </arguments>
    </type>
</config>
