<?xml version="1.0"?>
<!--
/**
 * Pmclain_Twilio extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the GPL v3 License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://www.gnu.org/licenses/gpl.txt
 *
 * @category       Pmclain
 * @package        Twilio
 * @copyright      Copyright (c) 2017
 * @license        https://www.gnu.org/licenses/gpl.txt GPL v3 License
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
  <event name="aatcs_tcs_ship">
    <observer name="aalogics_tcs_sales_order_tcs_ship" instance="Aalogics\Tcs\Observer\Sales\Tcs\Ship" /></event>
   <event name="aatcs_tcs_invoice"> 
    <observer name="aalogics_tcs_sales_order_tcs_invoice" instance="Aalogics\Tcs\Observer\Sales\Tcs\Invoice" />
    </event>
</config>