<?xml version="1.0"?>
<!--
/**
 * Copyright © Aalogics Ltd. All rights reserved.
 *
 * @package    Aalogics_Trax
 * @copyright  Copyright © Aalogics Ltd (http://www.aalogics.com)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Backend\Block\Widget\Button\Toolbar">
        <plugin name="Aalogics_Tcs::pluginBefore" type="Aalogics\Tcs\Plugin\PluginBefore" />
    </type>
</config>